
@model Inventario.ViewModels.ReporteGral



@{
    ViewBag.Title = "Ayuda";

}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<br />
@using (Html.BeginForm())
{

<div class="row">

    <div class="col-lg-12">
        <div class="col-sm-12">
            <br />
            <br />
            <h3>PREGUNTAS FRECUENTES</h3>
            <hr />
            <p>
                <b>• Cómo obtengo mi usuario?</b>
            </p>
            <p> Desde la pagina login, antes de ingresar, ingresando a la opcion registrar.</p>
            <p>
            <p>
                <b>• Cómo creo mi clave?</b>
            </p>
            <p> Desde la pagina login, antes de ingresar, debes ingresar tu usuario para generar una nueva contraseña.</p>
            </p>
            <p>
                <b>• Cómo desbloqueo mi cuenta?</b>
            </p>
            <p>
                Desde la pagina login, antes de ingresar, debes ingresar tu usuario para recuperar la cuenta.
            </p>
            <p>
                <b>• Cómo puedo consultar mi stock actual?</b>
            </p>
            <p>
                Desde el menú STOCK, opcion INVENTARIO y luego la opción CONSULTAR.
            </p>
            <p>
                <b>• ¿Cómo puedo dar de alta un artículo, una marca o un tipo de articulo?</b>
            </p>
            <p>
                Desde el menú STOCK, opción ABM.
            </p>
            <p>
                <b> • Como puedo insertar al stock más unidades de un artículo?</b>
            </p>
            <p>
                Desde el menú STOCK, opcion INVENTARIO  y luego opción CONTROL DE STOCK nos dirigimos al menú ACCIONES y seleccionamos la opción AGREGAR/QUITAR STOCK.
            </p>
            <p>
                <b> • Donde puedo ver el historial de movimientos de un artículo?</b>
            </p>
            <p>
                Desde el menú STOCK, opcion INVENTARIO  y luego opción CONTROL DE STOCK nos dirigimos al menú ACCIONES y seleccionamos la opción HISTORIAL.
            </p>
            <p>
                <b>• A qué direccion de mail me puedo contactar para hacer una sugerencia o reclamo?</b>
            </p>
            <p>
                Todas las dudas y reclamos, pueden efectuarse a la casilla de correo fabian12rodriguez@gmail.com.
            </p>

        </div>
        <div class="col-sm-6">
            <img src="~/images/xeneic_logo.png" width="200" height="200">

        </div>
    </div>
</div>

}