
@model Inventario.ViewModels.ReporteGral



@{
    ViewBag.Title = "Ayuda";

}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<br />
<br />

<br />
@using (Html.BeginForm())
{

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/1.png">

    </div>

    <div class="col-lg-12">
        <br />
        <br />
        <br />
        <br />
        <h3>PREGUNTAS FRECUENTES</h3>
        <br />
        <p>
            • Cómo creo mi clave?
        </p>

        <p>
            • Cómo desbloqueo mi usuario?
        </p>
        <p>
            • A qué direccion de mail me puedo contactar para hacer una sugerencia o
            reclamo?
        </p>
        <p> • ¿Cómo puedo pausar temporalmente mi suscripción?</p>
        <p> • ¿Tienes alguna duda o quieres comunicarte con nosotros?</p>
        <p> • Cómo funciona.......?</p>
        <p>• Qué necesito para......?</p>
        <p> • Qué medios de pago aceptan? </p>
    </div>
</div>

}