
@model Inventario.ViewModels.ReporteGral



@{
    ViewBag.Title = "Ayuda";

}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<br />
<br />

<br />
@using (Html.BeginForm())
{

<div class="row">
    <div class="col-lg-12">
        <img src="~/images/1.png">

    </div>

    <div class="col-lg-12">
        <br />
        <br />
        <br />
        <br />
        <h3>PREGUNTAS FRECUENTES</h3>
        <br />
        <p>
            • Cómo obtengo mi usuario?
        </p>
        <p> Enviando un correo con el asunto “usuario – Xeneic Inventory” a la casilla fabian12rodriguez@gmail.com</p>
        <p>
        <p>
            • Cómo creo mi clave?
        </p>
        <p>Desde la opción recuperar cuenta, debes ingresar tu usuario para crear la contraseña.</p>
        </p>
        <p>
            • Cómo desbloqueo mi cuenta?
        </p>
        <p>
            Desde la opción recuperar cuenta, debes ingresar tu usuario para recuperar la cuenta.
        </p>
        <p>
            • A qué direccion de mail me puedo contactar para hacer una sugerencia o reclamo?
        </p>
        <p>
            Todas las dudas y reclamos, pueden efectuarse a la casilla de correo fabian12rodriguez@gmail.com.
        </p>
        <p>
            • Cómo puedo consultar mi stock actual?
        </p>
        <p>
            Desde el menú STOCK, opción CONSULTAR STOCK.
        </p>
        <p>
            • ¿Cómo puedo dar de alta un artículo, una marca o un tipo de articulo?
        </p>
        <p>
            Desde el menú STOCK, opción ABM.
        </p>
        <p>
            • Como puedo insertar al stock más unidades de un artículo?
        </p>
        <p>
            Desde el menú STOCK, opción ASIGNAR ARTICULO nos dirigimos al menú ACCIONES y seleccionamos la opción AGREGAR/QUITAR STOCK.
        </p>
        <p>
            • Donde puedo ver el historial de movimientos de un artículo?
        </p>
        <p>
            Desde el menú STOCK, opción ASIGNAR ARTICULO nos dirigimos al menú ACCIONES y seleccionamos la opción Historial.
        </p>

    </div>
</div>

}