@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/img.css" rel="stylesheet" />


<div class="jumbotron">

</div>

<div class="row">
    <img src="../../../images/1.png" alt="Responsive image" class="img-responsive">
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />