@model Inventario.Models.Marca

@{
    ViewBag.Title = "Alta de marca";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <h4>NUEVA MARCA</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            <label class="col-sm-6" control-label>Marca</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.Descripcion_marca, htmlAttributes: new { @class = "form-control", @id = "txtMarca", required = "required" })
            </div>
        </div>


     </div>


    <div class="form-group" text-right>
        <div class="col-sm-6">
            <button class="btn btn-primary" type="submit">Alta</button>
        </div>
        <br />
        <br />
        <div class="col-sm-6">
            <a href="@Url.Action("ListadoMarcas", "Marca")" class="btn btn-warning">Ir al listado</a>
        </div>
    </div>
}

