@model Inventario.ViewModels.VMInventario

@{
    ViewBag.Title = "ObtenerArticulo";
    List<SelectListItem> itemsUsuarios = (List<SelectListItem>)ViewBag.itemsUsuarios;
    

}



<div class="row">
    <div class="col-sm-12">
        <div>
            <br />
            <h4>DATOS DE LOS ARTICULOS</h4>
            <br />
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(Model => Model.Id_articulo)
    <div class="row">
        <div class="col-lg-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Usuario</label>
                    <div class="col-sm-6">
                        @Html.DropDownList("Id_usuario", itemsUsuarios, htmlAttributes: new { @class = "form-control" })
                        @*@Html.DropDownList(Model => Model.Id_usuario, itemsUsuarios, htmlAttributes: new { @class = "form-control" })*@
                    </div>
                </div>
                <div class="form-group text-right">
                    <div class="col-xs-12">
                        <button class="btn btn-warning" type="submit">
                            Actualizar
                        </button>
                    </div>
                </div>

                <div class="form-group text-right">
                    <div class="col-xs-12">
                        <a href="@Url.Action("ListadoAsignarUsr", "Inventario", new { })" class="btn btn-primary"> Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


